.header{
    background-color:yellowgreen;
    height: 80px;
    padding-top: 10px;
}
.header h3{
    float: left;
    margin-left: 3%;
    color: wheat;
    font-style: italic;
    font-weight: bolder;
    font-size: x-large;
}
.header h2{
    float: right;
    margin-right: 5%;
    color: wheat;
    cursor: pointer;
}
   
